---
layout: default
nav: teaching
header_compact: true
title: Teaching
permalink: /teaching/
---

<section>
  <h2>Teaching</h2>

  {% assign instructor = site.teaching | where: "role", "Instructor" | sort: "date" | reverse %}
  {% if instructor.size > 0 %}
    <h3 class="subsection">As Instructor</h3>
    <ul class="teaching-list">
      {% for course in instructor %}{% include course.html course=course %}{% endfor %}
    </ul>
  {% endif %}

  {% assign tas = site.teaching | where: "role", "TA" | sort: "date" | reverse %}
  {% if tas.size > 0 %}
    <h3 class="subsection">As Teaching Assistant</h3>
    <ul class="teaching-list">
      {% for course in tas %}{% include course.html course=course %}{% endfor %}
    </ul>
  {% endif %}
</section>
